## Secret Key must be changed in production
DJANGO_SECRET_KEY=283822994187305985740598263403493847rfdfbsldfiudfhgldsfzb
# DJANGO_LOG_LEVEL=INFO
# DJANGO_DEBUG="False"
DB_PASSWORD=postgres
# LANGUAGE_CODE=en-us
# TZ=UTC
## Only used if there are ports registered
# TELNET_USER=admin
# TELNET_PASS=secret
