<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Detailed Host</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}" />
    </head> 
    <body>
        <div class="panel panel-{{ host.status }}">
            <div class="panel-heading">{{ host.name }}</div>
                <div class="panel-body">
                    <ul>
                        <li>Description: {{ host.description }}</li>
                        <li>IP: {{ host.ipv4 }}</li>
                        <li>Services: {% for service in host.services.all %} {{ service.name }} {% endfor %}</li>
                        <li>Dependences: Not implemented yet</li>
                    </ul>
                </div>
                <div class="panel-footer">Status: {{ host.get_status_display }} - {{ host.services_info }}</div>
        </div>
    </body>
</html>
