{% if host_list %}
<table class="ui fixed single line very compact selectable table">
    <thead>
        <tr>
            <th class="two wide"><strong>Address</strong></th>
            <th class="five wide"><strong>Hostname</strong></th>
            <th class=""><strong>Status</strong></th>
            <th class="two wide"><strong>Last Change</strong></th>
            <th class="two wide center aligned"><strong>Last Check</strong></th>
        </tr>
    </thead>
    <tbody>
        {% for host in host_list %}
            <tr class="{{ host.get_status_display }}">
                <td class="selectable"><a href="{% url 'monitor:detail' host.id %}"><strong>{{ host.ipv4 }}</strong></a></td>
                <td class="selectable"><a href="{% url 'monitor:detail' host.id %}"><strong>{{ host.name|upper }}</strong></a></td>
                <td class="selectable"><a href="{% url 'monitor:detail' host.id %}"><strong>{{ host.status_info }}</strong></a></td>
                <td class="selectable"><a href="{% url 'monitor:detail' host.id %}"><strong>{{ host.last_status_change|date:"d/m/y - H:i" }}</strong></a></td>
                <td class="selectable center aligned"><a href="{% url 'monitor:detail' host.id %}"><strong>{{ host.last_check|date:"H:i" }}</strong></a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    <p>No hosts are available.</p>
{% endif %}
