{% extends "monitor/base.html" %}

{% block title %} Host List {% endblock %}
{% block meta %} <meta http-equiv="refresh" content="15" > {% endblock %}

{% block content %}
    {% if host_list %}
    <table class="ui single line very compact selectable table">
        <tbody>
            <tr>
                <td><strong>Address</strong></td>
                <td><strong>Description</strong></td>
                <td><strong>Status</strong></td>
                <td><strong>Last Status Change</strong></td>
                <td><strong>Last Check</strong></td>
            </tr>
            {% for host in host_list %}
                <tr class="{{ host.get_status_display }}">
                    <td class="selectable"><a href="{% url 'monitor:detail' host.id %}"><strong>{{ host.ipv4 }}</strong></a></td>
                    <td class="selectable"><a href="{% url 'monitor:detail' host.id %}"><strong>{{ host.description|upper }}</strong></a></td>
                    <td class="selectable"><a href="{% url 'monitor:detail' host.id %}"><strong>{{ host.status_info }}</strong></a></td>
                    <td class="selectable"><a align="center" href="{% url 'monitor:detail' host.id %}"><strong>{{ host.last_status_change|date:"d/m/y - H:i" }}</strong></a></td>
                    <td class="selectable"><a align="center" href="{% url 'monitor:detail' host.id %}"><strong>{{ host.last_check|date:"H:i" }}</strong></a></td>
                </tr>
                {% endfor %}
            </tbody>
    </table>
    {% else %}
        <p>No hosts are available.</p>
    {% endif %}
{% endblock %}
