{% load staticfiles %}
<html>
    <head>
        <title>Host List</title>
        <meta http-equiv="refresh" content="3" >
    </head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <body>
    {% if host_list %}
        <table class="table table-hover table-striped table-condensed"><thead><tr><th>Hostname</th><th>IP</th><th>Description</th><th>Services Info</th><th>Last Check</th></tr></thead><tbody>
            {% for host in host_list %}
            <tr class="{{ host.status }}">
                <td><a href="{% url 'monitor:detail' host.id %}">{{ host.name }}</a></td>
                <td><a href="{% url 'monitor:detail' host.id %}">{{ host.ipv4 }}</a></td>
                <td><a href="{% url 'monitor:detail' host.id %}">{{ host.description }}</a></td>
                <td><a href="{% url 'monitor:detail' host.id %}">{{ host.services_info }}</a></td>
                <td><a href="{% url 'monitor:detail' host.id %}">{{ host.last_check|date:"H:i" }}</a></td>
            </tr>
            {% endfor %}
        </tbody></table>
    {% else %}
        <p>No hosts are available.</p>
    {% endif %}
    </body>
</html>
