{% extends "monitor/base.html" %}

{% block title %} Host List {% endblock %}
{% block meta %} <meta http-equiv="refresh" content="15" > {% endblock %}

{% block content %}
    {% if host_list %}
    <table class="table table-hover table-condensed">
        <thead>
            <tr>
                <th>Address</th>
                <th>Description</th>
                <th>Status</th>
                <th>Last Status Change</th>
                <th>Last Check</th>
            </tr>
        </thead>
        <tbody>
            {% for host in host_list %}
                <tr class="{{ host.get_status_display }}">
                    <td><a class="text-{{ host.get_status_display }}" href="{% url 'monitor:detail' host.id %}"><strong>{{ host.ipv4 }}</strong></a></td>
                    <td><a class="text-{{ host.get_status_display }}" href="{% url 'monitor:detail' host.id %}"><strong>{{ host.description|upper }}</strong></a></td>
                    <td><a class="text-{{ host.get_status_display }}" href="{% url 'monitor:detail' host.id %}">{{ host.status_info }}</a></td>
                    <td><a align="center" class="text-{{ host.get_status_display }}" href="{% url 'monitor:detail' host.id %}"><strong>{{ host.last_status_change|date:"d/m/y - H:i" }}</strong></a></td>
                    <td><a align="center" class="text-{{ host.get_status_display }}" href="{% url 'monitor:detail' host.id %}">{{ host.last_check|date:"H:i" }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hosts are available.</p>
    {% endif %}
{% endblock %}
