build/
dist/
/*.egg-info/
*.pyc
*.log
*.swp
__pycache__/
.idea/
.ropeproject/
env/
monitor/management/commands/populate_db.py
monitor/management/commands/populatedb_with_jsonview.py
monitor/management/commands/test.py
monitor/settings/local.py
*-journal
db.sqlite3
django_monitor/
manage.py
