build/
/*.egg-info/
*.pyc
*.log
*.swp
/monitor/migrations/
/testproject/
/templates/
/manage.py
*.sqlite3
__pycache__/
.idea/
.ropeproject/
env/
monitor/management/commands/populate_db.py
monitor/management/commands/test.py
monitor/settings/local.py
*-journal
