services:
  monitor:
    image: monitor:dev
    build:
      context: .
    container_name: monitor
    restart: unless-stopped
    environment:
      DB_ENGINE: django.db.backends.postgresql_psycopg2
      DB_NAME: postgres
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_HOST: monitordb
      DB_PORT: "5432"
    env_file:
      - env.example
    ports:
      - "8000:8000"
    depends_on:
      monitordb:
        condition: service_healthy

  monitordb:
    image: postgres
    restart: unless-stopped
    container_name: monitordb
    user: postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: postgres
    volumes:
      - monitordb:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready" ]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  monitordb:
