PYTHONDONTWRITEBYTECODE=1
PYTHONUNBUFFERED=1
DJANGO_ALLOW_ASYNC_UNSAFE=True
WORKERS=3
DEBUG=False
LOG_LEVEL=INFO
SECRET_KEY="39045498fj49hgv890wrhjr490rj!)9@#)#"
TIME_ZONE="America/Sao_Paulo"
ENABLE_TELEGRAM=False
TELEGRAM_CHAT_ID=""
TELEGRAM_ALERT_CHAT_ID=""

