# This must be changed
DJANGO_SECRET_KEY=super_secret_key

DJANGO_LOG_LEVEL=INFO
DJANGO_DEBUG=True

DB_ENGINE=django.db.backends.postgresql_psycopg2
DB_NAME=postgres
DB_PASSWORD=postgres
DB_HOST=db
PORT=5432

LANGUAGE_CODE=en-us
TZ=UTC

# Only used if there are ports registered
TELNET_USER=admin
TELNET_PASS=secret
