[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-rtd-theme = "*"
Sphinx = "*"
"autopep8" = "*"
django-heroku = "*"
pylint-django = "*"
pylint = "*"

[packages]
gunicorn = "*"
psycopg2-binary = "*"
Django = "*"
python-dotenv = "*"
whitenoise = "*"

[requires]
python_version = "3"
