[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
sphinx-rtd-theme = "*"
Sphinx = "*"

[packages]
gunicorn = "*"
psycopg2-binary = "*"
Django = "*"
django-heroku = "*"

[requires]
python_version = "3"
